.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.portfolio {
  width: 100%;
  margin-bottom: 10px;
}

.portfolio-inner {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.portfolio-link {
  display: flex;
  width: 100%;
  align-items: center; /* Center align items vertically */
}

.portfolio-label {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

.portfolio-value,
.portfolio-percent-change {
  color: #ccc;
  margin-right: 10px;
}

.portfolio-percent-change {
  margin-left: auto; /* Push it to the right */
}
.border-top {
  margin-top: 10px;
  background-color: rgb(232, 234, 237);
  height: 1px;
  width: 100%;
}
.add-portfolio-button {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.3s linear;
  z-index: 1000;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: 100%; /* Change 'top' to 'bottom' */
  left: 8px; /* Adjust the value to position the arrow */
  border-width: 8px 8px 0; /* Adjust border-width to create upward arrow */
  border-style: solid;
  border-color: white transparent transparent;
}
.add-portfolio-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.p-negative {
  color: red;
}
.p-positive {
  color: green;
}
