.add-portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-left: 24px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
  background: #142033;
  /*  overflow: hidden; */
}

.add-portfolio-header {
  display: flex;
  align-items: center;
}

.add-portfolio-icon {
  margin-right: 10px;
}

.portfolio-text {
  flex: 1;
}

.add-portfolio-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.most-followed-container {
  background: #142033;
  margin-top: 25px;
  margin-left: 24px;
  border: 1px solid white;
  border-radius: 12px;
  padding: 20px;
  max-width: 360px;
  min-width: 255px;
}
.most-followed-heading {
  font-size: 1.3rem;
}
.market-trends-header {
  font-size: 1.3rem;
}
