.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1b1b1b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-button,
.close-button,
.signin-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
  outline: none;
}

.sidebar {
  width: 256px;
  height: 100vh;
  background-color: #1b1b1b;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid rgb(60, 64, 67);
  box-shadow: 0 0 30px rgb(60, 64, 67);
  z-index: 900; /* Ensure the sidebar is below the top banner */
}
.sidebar-item {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.0178571429em;
  font-weight: 500;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 12px;
  margin-right: 8px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  color: white;
  /* min-width: 75%;
  padding: 0.5rem;
  line-height: 1rem;
  display: flex;
  justify-content: center; */
}
.sidebar-items li {
  list-style: none;
}
.sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 24px;
  padding-right: 8px;
  min-width: 150px;
}
.sidebar-heading-label {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1rem;
  font-size: 0.6875rem;
  letter-spacing: 0.0727272727em;
  font-weight: 500;
  /*   color: rgb(60, 64, 67); */
  text-transform: uppercase;
  line-height: 48px;
  user-select: none;
}
.sidebar-heading-icon {
  line-height: 1;
  display: flex;
  align-content: flex-end;
  direction: rtl;
  flex: 1;
  max-width: 200px;
  align-self: center;
  /* letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr; */
}
.sidebar-heading-icon .inner-icon {
  display: flex;
  border-radius: 100%;
  width: 24px;
}
.sidebar-heading-icon .inner-icon:hover {
  background: rgb(24, 90, 188);
}
.sidebar-item-button {
  white-space: nowrap;
  display: flex;
  text-align: center;
  color: white;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  min-width: 200px;
}

.sidebar-button-icon {
  display: flex;

  flex: 1;
}
.sidebar-button-label {
  display: flex;
  align-content: flex-end;
  direction: rtl;
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  align-self: center;
}
.divider {
  border-bottom: 1px solid white;
  margin: 10px 0 10px 0;
}
.sidebar.open {
  width: 240px;
}
.sidebar-header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
/* .sidebar-heading {
  display: flex;
} */
/* .sidebar-heading div {
  margin: 0 auto;
  flex: 1;
} */
/* .sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
} */
.sidebar-item:hover {
  background: #142033;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 255);
}

.label {
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  padding-top: 50px;
  transition: margin-left 0.3s ease;
}
.main-content.open {
  margin-left: 240px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800; /* Ensure the overlay is between the top banner and sidebar */
  display: none;
}
.overlay.open {
  display: block;
}
.container {
  color: #ffffff;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background: linear-gradient(
    180deg,
    #142033 20%,
    #0e1a26 40%,
    #0a121a 60%,
    #070b0e 80%,
    #040507 100%
  );
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-grow: 1;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: white;
}
.logo-side {
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 10px;
  justify-content: center;
}
