.trends-buttons {
  display: flex;
  justify-content: center;
  text-size-adjust: 100%;
  background: white;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 8px;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0178571429em;
  font-family: '"Google Sans", Roboto, Arial, sans-serif';
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 5px 5px black;
}
.trends-container {
  margin-top: 50px;
}
.trends-buttons:hover {
  background-color: #f0f0f0;
}
.trends-buttons.active {
  border: 1px solid transparent;
  color: rgb(232, 240, 254);
  background: rgb(25, 103, 210);
}
.explore-heading {
  display: flex;
  margin: 0 0 15px 0;
  justify-content: center;
}
.market-trends-buttons-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.explore-main-content {
  margin: 0 auto;
  max-width: 75%;
  display: flex;
}
.explore-table {
  display: flex;
  padding: 1rem;
  flex: 2;
}
.explore-news {
  padding: 1rem;
  display: flex;
  flex: 1;
}
