.markets-container {
  display: flex;
  align-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.compare-markets {
  padding: 1rem;
  text-align: end;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-right: 4px;
}

.exchange-chips {
  flex: 1;
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.chip {
  padding: 1rem;
  flex: 1;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 8px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chip.active {
  background-color: rgb(24, 90, 188);
  color: #fff;
}
.markets-article {
  padding: 1rem;
  flex: 1;
  max-width: 32%;
  margin-left: 4px;
  font-size: 0.9rem;
}
.markets-article-link {
  flex: 1;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 2px;
}
.markets-article-link a {
  color: rgba(28, 116, 233, 0.8);
}
.markets-article-link a:hover {
  color: rgb(24, 90, 188);
}

.index-cards-container {
  display: flex;
  flex: 1;
  justify-content: center; /* Center the cards horizontally */
  gap: 16px; /* Add some gap between the cards */
}

.index-cards-inner {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px; /* Add some gap between the cards */
  justify-content: center; /* Center the cards horizontally */
}

.index-card-content {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
.currencies:hover {
  cursor: default !important;
}
.index-card-content:hover {
  background-color: rgba(246, 246, 246, 0.95);
  cursor: pointer;
}
.index-card-link {
  text-decoration: none;
}

.index-card-icon {
  display: flex;
  height: 32px;
  min-width: 32px;
  overflow: hidden;
}

.index-card-name-price {
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  font-weight: 400;
  margin-right: 8px;
  max-width: 120px;
  min-width: 64px;
  text-align: center;
}
.index-card-name {
  color: rgb(32, 33, 36);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-card-price {
  color: rgb(60, 64, 67);
}

.index-card-change {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  font-weight: 400;
}

.index-card-percent-change {
  margin: 0 auto;
}
.index-card-price-change {
  margin: 0 auto;
}

.card-content.neutral .card-percent-change,
.card-content.neutral .card-price-change {
  color: #777; /* Adjust the color for neutral change */
}
