.app-container {
  margin: 25px auto 0 auto;
  padding: 30px;
  border-radius: 12px;
  overflow: hidden;
  /*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  max-height: 60px;
  width: 60%;
  position: relative;
  overflow: visible;
  z-index: 1;
}
.result-container {
  cursor: pointer;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 20px black;
}

.search-input {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 8px 8px 0 0px;
  background-color: #2c2c2c;
  color: #fff;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  height: 100%;
  font-size: 18px;
  background-color: #03c03c;
  color: #fff;
  border: 2px solid #555;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #006400; /* Slightly darker green on hover */
}

.data {
  position: relative;
  z-index: 1000;
  max-width: 800px;
  margin: 0 auto;
}

.quote-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #555;
  background: linear-gradient(to right, #2c2c2c, #1c1c1c);
  margin-bottom: -2px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.quote-row:not(:first-child) {
  border-radius: 0; /* No rounded corners for top of middle rows */
}

.quote-row:last-child {
  border-radius: 0 0 8px 8px; /* Rounded on bottom corners only for the last row */
}

.quote-row:hover {
  background: linear-gradient(to right, #454a56, #3e424e);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.left-column {
  display: flex;
  flex-direction: column;
}

.stock-name {
  font-weight: bold;
  font-size: 20px;
  color: #61dafb;
}

.stock-details,
.price-change,
.percent-change,
.price {
  color: #fff;
  font-size: 16px;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-change,
.percent-change {
  color: #00ff00;
}
