.table-container {
  margin-bottom: 25px;
  padding: 10px;
  max-width: 640px;
}
.custom-list {
  list-style-type: none;
  padding: 0;
  width: 75%;
  margin: 15px auto 0 auto;
}
.custom-list-full {
  margin-top: 25px;
  width: 100%;
  padding: 0;
}

.list-item {
  border-top: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.item-field {
}
.mostfollowed {
}
.mostfollowed .symbol {
  display: flex;
  flex: 1;
}
.symbol-name-followers {
  margin-top: 5px;
}
.symbol-name-followers .field-value {
  margin-top: 5px;
}
.symbol-name-followers .field-value:last-child {
  font-size: 0.85rem;
  color: #f3e5ab;
}
.symbol {
  display: flex;
  flex: 0.5;
}
.name {
  display: flex;
  flex: 1.5;
}
.field-value-symbol {
  text-align: center;
  width: 47px;
  height: 20px;
  border-radius: 4px;
}
.symbol .field-value {
  flex: 1;
  display: flex;
  margin-left: 10px;
  /*   justify-content: flex-end; */
}
.field-value-icon {
  display: flex;
}
.article {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.price {
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
}

.priceChange,
.percentChange {
  flex: 0.75;
  display: flex;
  justify-content: flex-end;
}

.no-change,
.percent-change {
  padding: 3px;
}
.positive {
  color: #00ff00;
}
.negative {
  color: rgb(217, 48, 37);
}
.percent-change {
  border-radius: 4px;
  padding: 6px;
  display: flex;
}

.positive-percent {
  background-color: green; /* Green background for positive percent change */
  color: #00ff00;
  border-radius: 8px;
}

.negative-percent {
  background-color: #660000; /* Red background for negative percent change */
  color: rgb(217, 48, 37);
  border-radius: 8px;
}

/* market trends */
.symbol-name {
  display: flex;
  flex: 1;
}
.price-pc {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}
.price-pc .field-value {
  margin-right: 10px;
}
.price-pc .item-field {
  margin-right: 10px;
}
