body {
  /*   background-color: #262626; */
  color: #ffffff;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background: linear-gradient(
    180deg,
    #142033 25%,
    #0e1a26 50%,
    #070b0e 75%,
    #040507 100%
  );
  /*   background: linear-gradient(
    180deg,
    #142033 20%,
    #0e1a26 40%,
    #0a121a 60%,
    #070b0e 80%,
    #040507 100%
  ); */
  /*   background: linear-gradient(to right, #262626, #1a1a1a); */
  transition: background-color 0.3s ease;
}
.content-wrapper {
  padding: 20px; /* Add padding for spacing */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
.main-content-container {
  display: flex;
  flex: 1;
  margin-bottom: 25px;
  /*   box-shadow: 0 0 50px black; */
}

.main-content-left {
  width: 63%;
  /*   flex: 2; */
}

.main-content-right {
  width: 38%;
  /*   flex: 1; */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .main-content-container {
    flex-direction: column; /* Stack columns on small screens */
  }

  .main-content-left,
  .main-content-right {
    flex: 1; /* Take full width on small screens */
  }
}

/* Additional styles for better appearance, adjust as needed */
.content-wrapper {
  max-width: 1024px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.main-content-container {
  padding: 5px; /* Add padding for spacing */
}

.main-content-left,
.main-content-right {
  /* Add background color for better separation */
  padding: 24px 0 0 0; /* Add padding to the columns */
}

.auth {
  visibility: hidden;
}
.button {
  display: flex;
  justify-content: center;
  text-size-adjust: 100%;
  /*   width: 5%; */
  line-height: inherit;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px; /* You can adjust the font size */
  letter-spacing: 0.25px;
  font-weight: 500;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  color: var(--gm-fillbutton-ink-color, #fff);
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #1a73e8;
  border: 1px solid transparent;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
}

.button:hover {
  background-color: #1565c0;
}
.primary {
  min-width: 96px;
  min-height: 36px;
}
.disabled {
  color: rgba(60, 64, 67, 0.38);
  background: rgba(60, 64, 67, 0.12);
  cursor: default;
  pointer-events: none;
}
.tertiary {
  background: #142033;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 16px;
  width: 15%;
  border: 1px solid white;
  border-radius: 12px;
}
.tertiary.active {
  background-color: #1565c0;
}
.tertiary:hover {
  background-color: inherit;
  color: rgb(24, 90, 188);
}
.button,
.secondary {
  /* ... other styles ... */
  align-items: center;
}
.secondary {
  display: flex;
  justify-items: center;
  cursor: pointer;
  color: white; /* Black text color for the secondary button */
  padding: 6px;
  font-size: 1rem;
  background: inherit; /* White background for the secondary button */
  border: 1px solid white;
  border-radius: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition for hover effect */
}
.secondary .button-icon {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-self: center;
}

.secondary:hover {
  background-color: #f0f0f0; /* Adjust the hover background color as needed */
  color: #000; /* Adjust the hover text color as needed */
}

.full-width {
  width: 100%;
}
.secondary {
  cursor: "pointer";
  margin-right: "8px";
  border-radius: "12px";
  padding: "2px 8px";
  font-size: "0.875rem";
  font-weight: 500;
  line-height: "1.25rem";
  letter-spacing: "0.0178571429em";
  font-family: '"Google Sans", Roboto, Arial, sans-serif';
  transition: "background-color 0.3s ease";
}
.secondary .active {
  color: white;
  background-color: inherit;
}

/* .secondary {
  background: #fff;
  color: #1a73e8;
  border: 1px solid #1a73e8;
}
 */
.large {
  padding: 12px 26px; /* You can adjust the padding for a larger button */
}

.button-outline {
  background: transparent;
  border: 1px solid #1a73e8;
  color: #1a73e8;
}

.button-outline:hover {
  background-color: #1a73e8;
  color: #fff;
}

/*main layout */

.header {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 12px 12px 0 0; /* Rounded top corners for the header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff !important;
}

.market-trends-container {
  background: #142033;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
  border: 1px solid white;
  border-radius: 12px;
  max-width: 360px;
  min-width: 255px;
}

.market-trends-header {
  margin-bottom: 15px;
}

.market-trends-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.market-trends-buttons button:first-child {
  margin-right: 0px !important;
}
.sidebar-item-button button {
  margin-right: 0px !important;
}
.footer {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-top: 1px solid rgb(218, 220, 224);
  padding: 36px 0 12px 0;
  margin-top: 25px;
  text-align: center;
}

.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footer-list li {
  margin: 0;
}

.footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-item span {
  /* Adjust as needed for vertical spacing */
}

.footer-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  color: #1a73e8; /* Change the color on hover as needed */
}
.watchlist-heading {
  font-size: 1.3rem;
}

.sign-in,
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(32, 33, 36);
}

.sign-in-inner,
.register-inner {
  width: 25%;
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.form-inner {
  width: 100%;
  margin: 0 auto;
}
.sign-in-logo {
  margin: 0 auto;
  display: flex;
  align-items: center;

  justify-content: center;
}
.sign-in-logo a {
  font-size: 18px;
  margin-top: 2px;
  text-decoration: none !important;
  color: #2196f3;
  &:hover {
    color: #0d5cb6;
  }
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.signin-form,
.register-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  input {
    max-width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkbox-container input {
    max-width: 15px;
    margin: 0 5px 0 0;
  }

  .checkbox-container label {
    margin: 0; /* Reset margin to eliminate default spacing */
  }
  button {
    background-color: #2196f3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 100%;
    &:hover {
      background-color: #0d5cb6;
    }
  }
}
.button-icon {
  margin-right: 5px;
}
.links-container {
  text-align: center;
  margin-top: 15px;

  a {
    margin-right: 10px;
    color: #2196f3;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;

    &:hover {
      color: #0d5cb6;
    }
  }

  span {
    font-size: 14px;
    color: #555;
  }
}
.home-market-trends-heading {
  font-size: 1.3rem;
}
.home-market-trends-buttons-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.home-market-trends-buttons {
  display: flex;
  flex: 1;
}
.home-market-trends-buttons button {
  margin-right: 10px;
}
.home-market-trends-buttons-more {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.home-market-trends-buttons-more a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1a73e8;
}
.home-market-trends-buttons-more a:hover {
  text-decoration: underline;
}

.home-market-trends-buttons-more div {
  display: flex;
  align-items: center;
  justify-content: center;
}
